.main {
    font-family: monospace;
    text-align: center;
}
.container {
    height: 400px;
    width: 350px;
    border: 1px solid black;
    margin: 10px;
    font-family: monospace;
}
.containerNewProduct {
    height: 400px;
    width: 350px;
    border: 1px solid black;
    margin: 10px;
    font-family: monospace;
}
.button1 {
    height: 20px;
    width: 350px;
    margin: 10px;
    border: 1px solid black;
    font-family: monospace;
    background-color: lightgray;
    text-align: center;
}
.button1:hover {
    cursor: pointer;
}
.button2 {
    height: 20px;
    width: 350px;
    margin: 10px;
    border: 1px solid black;
    font-family: monospace;
    background-color: lightgray;
    text-align: center;
}
.button2:hover {
    cursor: pointer;
}

.categoryFood {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.categoryFood:hover {
    cursor: pointer;
    background-color: lightgray;
}
.categoryElectronics {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.categoryElectronics:hover {
    cursor: pointer;
    background-color: lightgray;
}
.categoryFurniture {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.categoryFurniture:hover {
    cursor: pointer;
    background-color: lightgray;
}
.categoryAll {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.categoryAll:hover {
    cursor: pointer;
    background-color: lightgray;
}
.boxMoney {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.boxLimit {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.products {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
.card {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
    color: black;
}
.card:hover {
    cursor: pointer;
}
.generatedCard {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
    color: black;
}
.generatedCard:hover {
    cursor: pointer;
}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
img {
    height: 80px;
}
.newProduct {
    display: none;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
input {
    margin: 10px 20px 20px 20px;
}
